---
title: Über das Team
ban-top-img: "about-bg"
ban-top-color: "#215282"
ban-top-opacity: "0.55"
ban-top-title: "Über das Team"
---



<div class="mb-135-80">
    {{>ban-top}}
</div>





<div class="time mb-45">
    <div class="tile-line">
        <div class="tile-line__img">
            <div class="tile-line__img-wrap wow fadeIn" data-wow-delay="150ms">
                <img src="static/images/content/mask-1.jpg" alt="">
            </div>

            <div class="tile-line__text wow fadeIn" data-wow-delay="200ms">
                <h3>Aaron</h3>
                <h4>Functional-Training & Core-Training</h4>
                <q>«Lorem Ipsum ist ein Trainerzitat»</q>
                <p>
                    <b> Ausbildung / Qualifikationen</b> <br>
                    Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
            </div>
        </div>
        <div class="tile-line__img">
            <div class="tile-line__img-wrap wow fadeIn" data-wow-delay="150ms">
                <img src="static/images/content/mask-2.jpg" alt="">
            </div>
            <div class="tile-line__text wow fadeIn" data-wow-delay="200ms">
                <h3>Jonathan</h3>
                <h4>Kraftaufbau bzw. Powerlifting</h4>
                <q>«Lorem Ipsum ist ein Trainerzitat»</q>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </p>
                <p>Ausbildung / Qualifikationen <br>
                    Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
            </div>
        </div>
    </div>
    <div class="tile-line">
        <div class="tile-line__img">
            <div class="tile-line__img-wrap wow fadeIn" data-wow-delay="150ms">
                <img src="static/images/content/mask-3.jpg" alt="">
            </div>
            <div class="tile-line__text wow fadeIn" data-wow-delay="200ms">
                <h3>Viktoria</h3>
                <h4>Bodybuilding & Ernährungsberatung</h4>
                <q>«Lorem Ipsum ist ein Trainerzitat»</q>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </p>
                <p>Ausbildung / Qualifikationen <br>
                    Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
            </div>
        </div>
        <div class="tile-line__img">
            <div class="tile-line__img-wrap wow fadeIn" data-wow-delay="150ms">
                <img src="static/images/content/mask-4.jpg" alt="">
            </div>
            <div class="tile-line__text wow fadeIn" data-wow-delay="200ms">
                <h3>Woael</h3>
                <h4>Bodybuilding & Ernährungsberatung</h4>
                <q>«Lorem Ipsum ist ein Trainerzitat»</q>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </p>
                <p>Ausbildung / Qualifikationen <br>
                    Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
            </div>
        </div>
    </div>
    <div class="tile-line">
        <div class="tile-line__img">
            <div class="tile-line__img-wrap wow fadeIn" data-wow-delay="150ms">
                <img src="static/images/content/mask-1.jpg" alt="">
            </div>
            <div class="tile-line__text wow fadeIn" data-wow-delay="200ms">
                <h3>Woael</h3>
                <h4>Bodybuilding & Ernährungsberatung</h4>
                <q>«Lorem Ipsum ist ein Trainerzitat»</q>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo.
                </p>
                <p>Ausbildung / Qualifikationen <br>
                    Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-100 pt-112-60 pb-134-60 mb-175-80">
    <div class="container-text mb-135-80">
        <div class="title-3 text-center">Hierin sind wir echte Experten</div>
        <div class="decr text-center ">Die Ziele sind beliebig kombinierbar. Sie können also frei wählen. Tatsächlich
            ist es sogar möglich alle Ziele unter einen Hut zu kriegen. Schwierig, aber möglich. An dieser Stelle wird
            Fitness zu einer Kunst. Nehmen Sie sich jetzt etwas Zeit und suchen Sie aus, was Sie haben möchten. Im
            Anschluss stellen wir das ideale System für Sie auf die Beine.</div>
    </div>
    {{>target-box}}
</div>

<div class="container-text mb-114-60">
    <div class="title-2 text-center">Hinweis über Yoga!</div>
    <div class="decr text-center ">
        <p>Worin wir definitiv keine Experten sind, ist Yoga. Yoga ist eine wirklich fantastische Form der Bewegung als
            auch Meditation. </p>
        <p>Yoga wird Sie bei regelmäßgier Ausführung gesund, stark und beweglich machen und Sie werden sich vor allem
            psychologisch wunderbar zu fühlen, aber da sind Sie bei einem echten Meister dieser Kunst viel besser
            aufgehoben, als bei uns. Wenn Sie Yoga lernen möchten, dann suchen Sie nach einem guten Lehrer, der ihnen
            ,,echtes" ursprüngliches Yoga vermittelt. 9 von 10 Yoga Lehrern im westlichen Teil der Welt verkaufen ihnen
            nämlich nicht das ,,Wahre". </p>

        <p>Der wahrscheinlich berühmteste Yogi der Welt ist Sadhguru. Bei ihm sind Sie zu 100% in sicheren Händen.
            Google'n Sie doch gleich nach seinem Namen, wenn Sie Interesse an Yoga haben.</p>

    </div>
</div>

<div class="container-text mb-114-60">
    <div class="title-2 text-center">Worauf wir besonders Wert legen</div>
    <div class="decr text-center ">
        <p>Authentische menschliche Kommunikation ist uns sehr wichtig. Wir mögen es nicht, wenn Menschen beispielsweise ihre Stimmen verstellen, um professioneller zu wirken. Man sollte sich für niemanden verstellen und sich selbst treu bleiben. Ich denke da stimmen Sie mir zu. Z.B. formuliere ich die Texte auf dieser Seite auch nicht so, dass nur ein Anwalt sie verstehen kann. Nein ich benutze simple Formulierungen, die mir gerade in den Kopf kommen. Wir sind nämlich alle Menschen und keine Roboter. </p>
        <p>Was einfach ausgedrückt werden kann, sollte nicht kompliziert gemacht werden, um jemanden zu beeindrucken. Was heißt das für unsere Zusammen-Arbeit? Obwohl wir Trainer die Trainings Wissenschaft lieben, werden wir Sie nicht mit ihr und ihren Fachbegriffen langweilen, solange Sie es nicht so wünschen. Wir erklären Ihnen komplizierte Strategien so einfach und direkt, dass Ihr gesunder Menschenverstand sagen wird: ,,Klingt absolut logisch.".</p>

        <p>
Was uns ebenfalls sehr wichtig ist, ist dass Sie im Zentrum unserer Aufmerksamkeit stehen, wenn wir bei Ihnen sind.  Wir sind jung und lieben unseren Job. Leider tun das heutzutage nicht mehr viele Trainer. Viele Personal-Trainer (und das tut mir wirklich weh, wenn ich es sehe) verbringen die Hälfte der Zeit an ihren Smartphones, während sie eigentlich gerade eine Person coachen. So etwas ist absolut respektlos und wird Ihnen mit uns nie passieren, das verspreche ich Ihnen. Wir sind für Sie da.</p>

    </div>
</div>