---
title: home
ban-top-img: ban-top
ban-top-color: "#215282"
ban-top-opacity: "0.55"
ban-top-title: ""
ban-top-decr: "Wir holen das beste aus Ihnen raus und passen unseren Motivations-Stil ihrem Wesen an. Sollen wir der
unfassbar strenge Armee Sergeant sein oder eher ein Freund, der Ihnen unter die Arme greift, damit Sie auch die letzten
Meter noch schaffen? Unser Wunsch ist es Ihnen einfach das beste Trainings-Erlebnis überhaupt zu bieten."
---

    <div class="preloader">
        <div class="preloader__wrap">
            <img class="preloader__logo " src="static/images/general/logo.svg" alt="">
            <div class="preloader__progress"><span></span></div>
        </div>
    </div> 

{{>ban-top}}

<div class="mb-114-60">
    {{>about}}
</div>


<section>
    <div class="container-text mb-135-80">
        <div class="title-2 text-center">
            Es ist ganz egal wenn Sie noch nie im Leben Leistungssportler waren oder wie alt Sie sind, Wir können Ihnen
            zur besten Form Ihres Lebens verhelfen.
        </div>
        <div class="decr text-center ">
            <p>Sie glauben mir nicht? Recherschieren Sie dann doch bitte mal zu <b>„Jack LaLanne".</b> </p>
            <p> Jack LaLanne hat an seinem 70. Geburtstag folgendes gemacht: Er hat sich zuerst Hand- und Fuß-Schellen
                anlegen lassen. Dann hat er 70 Rettungsboote ohne Paddel oder Motor an seine Hüfte binden lassen. In
                jedes der Boote wurde 1 Person gesetzt, damit es aussieht als seien es 70 Kerzen. Und was hat Jack
                Lallanne dann gemacht? Er ist 1,5 Meilen (ca. 2,4 Kilometer) entlang der kalifornischen Küste ohne auch
                nur die geringste Hilfe mit diesen Booten geschwommen bzw. er hat alle 70 Boote aus eigener Kraft
                bewegt. Ich weiß ehrlich gesagt nicht einmal, ob das für Menschen zwischen 20 und 30 Jahren heutzutage
                möglich ist. Dieser Mann war eine echte Fitness-Legende und wollte aller Welt klarmachen, dass Alter
                bloß eine Zahl ist. Sie sollten genauso denken. </p>

            <p> Ich denke es zählt zu Meinungsfreiheit, wenn ich hier schreibe, dass sie in meinen Augen zu den 1
                Dutzend
                besten Trainern des Landes gehören, wenn es um ihr Fachgebiet geht. Trainer wie sie findet man wirklich
                selten. Einer ist besser als der andere und dieses Kompliment können die Vier ruhig lesen und annehmen.
            </p>
            <p>
                <b>Der Körper ist zu unglaublichem im Stande. Wir müssen ihn nur zur Anpassung bringen. </b>
            </p>
        </div>
    </div>
    <div class="container-img mb-114-60 wow fadeIn">
        <div class="row">
            <div class="col-md-6 mb-30">
                <div class="about-img">
                    <img src="static/images/content/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 mb-30">
                <div class="about-img">
                    <img src="static/images/content/about-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-text mb-175-80">
        <div class="decr text-center mb-96-50">
            Ob sie im momentan absolut unsportlich sind oder schon extrem fortgeschritten, jung oder alt, das ist uns
            nicht wichtig, aber was uns wichtig ist, ist ihr Motivationslevel. Kontaktieren Sie uns bitte nur, wenn
            Sie hochmotiviert sind. Dann holen wir gemeinsam 200% aus Ihnen raus und das ganz ohne Herzinfarkt
            <img src="static/images/general/winking.svg" alt="">

        </div>
        <div class="price-row ">
            <div class="price-block">
                <div class="price-block__top">Hochmotivierter <br> Mens</div>
                <div class="price-block__bottom">Leistung = 100%</div>
            </div>
            {{#icon}}arrow{{/icon}}
            <div class="price-block">
                <div class="price-block__top">Hochmotivierter <br> Mens</div>
                <div class="price-block__bottom">Leistung = 200%</div>
            </div>
        </div>
        <div class="price-row">
            <div class="price-block">
                <div class="price-block__top">Durchschnittlich <br> mot</div>
                <div class="price-block__bottom">Leistung = 70%</div>
            </div>
            {{#icon}}arrow{{/icon}}
            <div class="price-block">
                <div class="price-block__top">Durschnittlich <br> motiv</div>
                <div class="price-block__bottom">Leistung = ca. 80-90%</div>
            </div>
        </div>
    </div>
    <div class="container-text container-text--big mb-110-60 text-center">
        <div class="title-3"> Unter diesen Zielen kannst du bei uns wählen</div>
        <div class="decr  mb-96-50">
            Die Ziele sind beliebig kombinierbar. Sie können also frei wählen. Tatsächlich ist es sogar möglich alle
            Ziele unter einen Hut zu kriegen. Schwierig, aber möglich. An dieser Stelle wird Fitness zu einer Kunst.
            Nehmen Sie sich jetzt etwas Zeit und suchen Sie aus, was Sie haben möchten. Im Anschluss stellen wir das
            ideale System für Sie auf die Beine.
        </div>
    </div>
    <div class="mb-175-80">
        {{>target}}
    </div>

    <div class="tariff">
        <div class="tariff-container mb-118-80">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-45">
                    <div class="tariff-card">
                        <div class="tariff-card__title">Probetraining</div>
                        <div class="tariff-card__bottom">
                            <div class="tariff-card__circle">PT</div>
                            <div class="tariff-card__text">
                                <div class="tariff-card__subtitle">Probetraining</div>
                                <div class="tariff-card__decr">Lorem Lorem <br>
                                    Ipsum Ipsum</div>
                                <div class="tariff-card__cost">50,- €</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-45">
                    <div class="tariff-card">
                        <div class="tariff-card__title">Trainingsplan</div>
                        <div class="tariff-card__bottom">
                            <div class="tariff-card__circle">TP</div>
                            <div class="tariff-card__text">
                                <div class="tariff-card__subtitle">Trainingsplan</div>
                                <div class="tariff-card__decr">In der Regel für 2-3 Monate erstellt</div>
                                <div class="tariff-card__cost">150,- €</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-45">
                    <div class="tariff-card">
                        <div class="tariff-card__title">Trainingseinheit</div>
                        <div class="tariff-card__bottom">
                            <div class="tariff-card__circle">PT</div>
                            <div class="tariff-card__text">
                                <div class="tariff-card__subtitle">Trainingseinheit</div>
                                <div class="tariff-card__decr">Lorem Lorem <br>
                                    Ipsum Ipsum</div>
                                <div class="tariff-card__cost">max. 150,- €</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center mb-145-60">
            <a class="btn" href="#">Zu den Preisen</a>
        </div>
    </div>
</section>


<section class="banner-scroll wow fadeIn"  style="background-image: url('static/images/content/train-gum1.jpg')">
    <div class="banner-scroll__mask"></div>
    <div class="banner-text">
        <div class="banner-text__title">Probetraining</div>
        <div class="banner-text__decr">Bist du bereit, deinen gegenwärtigen Körper zu deiner Vergangenheit zu machen und
            ein neues Du willkommen zu heißen? Hier ist der erste Schritt dafür.</div>
        <a href="#" class="btn">mach den Schritt</a>
    </div>
</section>

<div class="bg-gray-100">
    {{>form}}
</div>