---
title: pages
pages:
-
    page: index.html
-
    page: power.html
-
    page: training.html
-
    page: price.html
-
    page: about.html
-
    page: kontakt.html
---

<div class="container-fluid">
    <ol style="margin: 14em auto; ">
        {{#each pages}} 
            <li class="mb-10" style="margin-bottom: 10px; font-size: 30px;">
                <a target="_blank" class="link-bubbles"  style="font-size: 30px;" href="{{page}}"> 
                    {{page}}
                </a>
            </li>
        {{/each}}
    </ol>
</div>