---
title: home
ban-top-img: "pw"
ban-top-color: "#215282"
ban-top-opacity: "0.55"
ban-top-title: "Powerlifting"
---
<div class="mb-135-80">
    {{>ban-top}}
</div>



<div class="container-text mb-114-60">
    <div class="title-2 text-center">Haben Sie sich schon einmal gefragt, wie zwei Person gleicher Größe, gleichen Gewichts und auch Geschlechts unterschiedlich stark sein können?</div>
    <div class="decr text-center ">
        <p>Das ist häufig sogar der Fall, wenn beide gleich viel Körperfett und Muskelmasse besitzen. Wie ist das möglich? Wie kann ein Gewichtheber 2-3 Mal so stark sein, wie ein fitter Hobbysportler, der gleich viel wiegt?
        </p>
        <p>
            Der Grund dafür ist ein besonders effizientes Nervensystem. Wenn Ihr Gehirn den gleichen Körper besser ansteuern lernt, wird ein gewaltiges Potenzial an Kraft freigesetzt. Beim Powerlifting trainieren wir genau das. Nicht die Muskulatur, sondern in erster Linie das Gehirn. </p>

        <p>
            Dafür muss man besonders schlau trainieren und alle Regeln kennen, die zu beachten sind, ...denn das Zentrale-Nervensystem kann man nicht mit Gewalt trainieren. Ein gut aufgebautes Powerlifting-Programm wird wie ein Update für Ihr System sein. Die Hardware bleibt sozusagen gleich, doch ihre Software wird auf Vordermann gebracht. Was die Ansteuerung Ihres Bewegungsapparats angeht, werden Sie dadurch ein Meister.</p>
        <p>
            Beim Powerlifting konzentriert man sich meistens auf die 3 Grundübungen: Kreuzheben, Kniebeugen und Bankdrücken. Wer auf Wettkämpfe gehen möchte, trainiert daher diese 3 Bewegungen hochfrequent. Deshalb heißt es im Deutschen auch Kraft-Drei-Kampf. Man kann die gleichen Trainings-Prinzipien allerdings auch auf alle anderen Grundübungen übertragen und dadurch überaus stark in vielen Disziplinen werden.
        </p>
        <p>
            Wenn Ihr jetziges ZNS die Performance eines Golf's hat, dann wird Ihr zukünftiges ZNS wie ein Porsche im Vergleich sein. Das bedeutet reibungsloses Funktionieren und pure Power. Das ist es, was Powerlifting Ihnen zu bieten hat.</p>
    </div>
</div>

<div class="container-img">
    <div class="row mb-110-60">
        <div class="col-md-6 mb-30">
            <div class="container-img__item wow fadeIn">
                <img src="static/images/content/pw-1.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6 mb-30">
            <div class="container-img__item wow fadeIn">
                <img src="static/images/content/pw-2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="back__link mb-175-80 ml-195-30">
        <a href="#">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="18" cy="18" r="17" fill="white" stroke="#125472"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6599 23.583V12L11.9999 17.8002L21.6599 23.583Z" fill="#125472"/>
            </svg>
            Zurück zur Übersicht
        </a>
    </div>
</div>

