---
title: home
ban-top-img: "price-bg"
ban-top-color: "#215282"
ban-top-opacity: "0.55"
ban-top-title: "Trainingspakete"
---
<div class="mb-135-80">
    {{>ban-top}}
</div>



<div class="container-text ">

    <div class="row justify-content-between mb-45">
        <div class="col-lg-4 col-md-6 mb-45">
            <div class="tariff-card">
                <div class="tariff-card__title">Probetraining</div>
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">PT</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">Probetraining</div>
                        <div class="tariff-card__decr">Lorem Lorem <br>
                            Ipsum Ipsum</div>
                        <div class="tariff-card__cost">50,- €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-45">
            <div class="tariff-card">
                <div class="tariff-card__title">Trainingsplan</div>
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">TP</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">Trainingsplan</div>
                        <div class="tariff-card__decr">In der Regel für 2-3 Monate erstellt</div>
                        <div class="tariff-card__cost">150,- €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="title-3 text-center">Trainings-Einheit</div>
    <div class="decr text-center mb-118-80">
        <p> Die Abkürzung <b>TE</b> steht für eine <b>Trainings-Einheit</b> , die zwischen <b>45 und 90 Minuten</b>
            dauert.</p>
        <p>Falls Sie nur 30 Minuten Zeit für eine Einheit haben, dann reduzieren wir natürlich die Preise, um fair zu
            bleiben und kommen Ihnen entgegen. (im Hinterkopf: 1/100, 5/80, 10/75, 20/70, 50/65, 100/60).</p>
    </div>


    <div class="row justify-content-between">

        <div class=" col-lg-4 col-md-6 mb-114-60">
            <div class="tariff-card">
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">TE</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">1 TE</div>
                        <div class="tariff-card__decr">2x/ Woche <br>
                            *max. 8x/Monat</div>
                        <div class="tariff-card__cost">150,- €</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-4 col-md-6 mb-114-60">
            <div class="tariff-card">
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">TE</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">5 TE</div>
                        <div class="tariff-card__decr">zu jeweils 120,-</div>
                        <div class="tariff-card__cost">600,- €</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-between">

        <div class=" col-lg-4 col-md-6 mb-114-60">
            <div class="tariff-card">
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">TE</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">10 TE</div>
                        <div class="tariff-card__decr">zu jeweils 110,-</div>
                        <div class="tariff-card__cost">600,- €</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-114-60">
            <div class="tariff-card">
                <div class="tariff-card__bottom">
                    <div class="tariff-card__circle">TE</div>
                    <div class="tariff-card__text">
                        <div class="tariff-card__subtitle">20 TE</div>
                        <div class="tariff-card__decr">zu jeweils 100,-</div>
                        <div class="tariff-card__cost">2000,- €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>