---
title: home
ban-top-img: "train-bg"
ban-top-color: "#215282"
ban-top-opacity: "0.55"
ban-top-title: "Unsere Ziele & Trainingsarten"
---
<div class="mb-135-80">
    {{>ban-top}}
</div>



<div class="container-text mb-135-80">
    <div class="title-3 text-center">Trainingskurse</div>
    <div class="decr text-center ">
        <p>Mit über 80 Kursen pro Woche haben wir ein sehr großes und allumfassendes Angebot, das seinesgleichen sucht.
        </p>
        <p>
            Neben den CrossFit WODs kannst Du als myleo Mitglied auch in anderen Kursen Deine Fitness trainieren oder
            Skills verbessern. Arbeite an Deiner Ausdauer in unserem Endurance Club, an Deiner Körperspannung beim
            Gymnastics oder an Deiner Technik im Gewichtheben beim Weightlifting WOD. </p>

        <p>
            Angefangen mit Fitness WODs, Open Gym über CrossFit Kids und unseren beliebten samstäglichen Team Workouts
            am Wochenende bleiben keine Wünsche offen.</p>
        <p>
            Mit Personal Training und Firmenfitness haben wir für jeden das passende Programm!
        </p>
    </div>
</div>
<div class="ad mb-145-60">
    {{>target-box}}
</div>
<div class="bg-gray-100 pt-120-80 pb-180-80">
    <div class="container-text mb-135-80">
        <div class="title-3 text-center">Hierin sind wir echte Experten</div>
        <div class="decr text-center ">
            Die Ziele sind beliebig kombinierbar. Sie können also frei wählen. Tatsächlich ist es sogar möglich alle
            Ziele unter einen Hut zu kriegen. Schwierig, aber möglich. An dieser Stelle wird Fitness zu einer Kunst.
            Nehmen Sie sich jetzt etwas Zeit und suchen Sie aus, was Sie haben möchten. Im Anschluss stellen wir das
            ideale System für Sie auf die Beine.
        </div>
    </div>
    {{>target}}
</div>