@import "utils/vars";
@import "utils/mixins";
@import "utils/tipografi";
@import "utils/libs";
@import "utils/animated";
@import "utils/spaces";
@import "utils/bg";

html {
  font-size: $base-font-size;
  height: 100%;
}
* {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#131313, 0.8);
  }
}
img {
  max-width: 100%;
}
video {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $default-font;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  max-width: 100%;
  color: $black;
  height: 100%;
}
input {
  font-family: $default-font;
}

a:focus,
button:focus {
  outline: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  min-height: 100%;
}
.container-fluid {
  max-width: 1295px;
  &--full {
    max-width: 100%;
  }
}
.container-text {
  max-width: 890px;
  margin: 0 auto;
  padding: 0 15px;
  &--big {
    max-width: 999px;
  }
}

.content {
  flex: 1 0 auto;
  max-width: 100%;
  margin-top: 50px;
  @include from(lg){
    margin-top: 0;
  }
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
}


.no-scroll{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* <================Preloader style start================> */ 
.preloader {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #110f10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1100;
  opacity: 1;
}
.preloader__wrap {
  width: 100%;
  max-width: 250px;
}
.preloader__logo {
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 100%;
  max-width: 250px;
}
.preloader__progress {
  background: #181b1e;
  height: 1px;
  position: relative;
  margin-top: 1.2rem;
  /* overflow: hidden; */
  width: 100%;
}
.preloader__progress span {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}
.preloader.fadeOut2 {
  pointer-events: none;
  opacity: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .preloader.fadeOut2 {
    visibility: hidden;
  }
}

@-webkit-keyframes blur-logo {
  0% {
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes blur-logo {
  0% {
    -webkit-filter: blur(30px);
            filter: blur(30px);
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* <================Preloader style end================> */


//modules

@import "modules/modules";
@import "page/page.scss";
