
.form-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.form-icon {

}


.form-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.342857px;
  color: #353C44;

  p {
    margin-bottom: 0px;

  }

  a {
    color: #353C44;
    transition: $trans;

    &:hover {
      color: lighten(#353C44, 20%);
    }
  }
}

.form-block {
  border: 1px solid #125472;
  // .form-block__input

  &__input {
    border-bottom: 1px solid #125472;

    height: 60px;
    @include from(lg) {
      height: 86px;
    }
    input {
      width: 100%;
      display: block;
      border: 0;
      padding: 0px 15px;
      height: 100%;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.385714px;
      color: #353C44;
      @include from(lg) {
        padding: 0 60px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // .form-block__textarea

  &__textarea {

    border-bottom: 1px solid #125472;
    height: 200px;
    @include from(lg) {
      height: 317px;
    }
    textarea {
      width: 100%;
      display: block;
      border: 0;
      padding: 15px;
      resize: none;
      height: 100%;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.385714px;
      color: #353C44;
      @include from(lg) {
        padding: 30px 60px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // .form-block__bottom

  &__bottom {
    display: flex;
    flex-direction: column;
    @include from(lg) {
      flex-direction: row;
      height: 144px;
    }
  }

  // .form-block__checkbox

  &__checkbox {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #353C44;
    padding: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
    @include from(lg) {
      padding: 30px;
      width: 50%;
    }

    input {
      appearance: none;
      width: 34px;
      flex-shrink: 0;
      height: 34px;
      background: #EDEFF1;
      border: 1px solid #125472;
      display: block;
      margin-right: 24px;
      align-items: center;
      transition: $trans;

      &:checked {
        background: #125472;
      }

      &:focus {
        outline: none;
      }
    }
  }

  // .form-block__btn

  &__btn {

    font-weight: bold;
    font-size: 30px;

    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #125472;
    height: 100%;
    border: none;
    transition: $trans;
    line-height: 60px;
    @include from(lg) {
      width: 50%;
      line-height: 44px;
    }
    &:hover {
      background: darken(#125472, 5%);
    }
  }
}
