<div class="select">
<div class="select__header"><span class="select__current">456</span></div>
<div class="select__body">
<div class="select__item">123</div>
<div class="select__item">321</div>
<div class="select__item">456</div>
</div>
</div>
