.about {
    padding: 80px 0;
    @include from(lg) {
        padding: 138px 0;
    }
    // .about__text

    &__text {
        max-width: 1100px;
        padding: 0 15px;
        margin: 0 auto;
    }

    // .about__icon

    &__icon {
        margin-bottom: 36px;
    }

    // .about__img

    &__img {
        margin-top: 20px;
        img {
            border-radius: 50%;
            width: 75px;
            height: 75px;
        }
        span {
            display: block;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.385714px;
            color: #125472;
            margin: 44px 0;
        }
    }
}
.title {
}
.decr {
}
.btn {
}
