.banner-scroll {
    height: 595px;
    padding-top: 87px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    width: 100%;
    &__mask {
        background: rgba(33, 82, 130, 0.678404);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.banner-text {
    max-width: 1410px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    z-index: 2;
    // .banner-text__title

    &__title {
        font-family: $title-font;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 16px;
        @include from(lg) {
            font-size: 75px;
            line-height: 84px;
            letter-spacing: 3px;
        }
    }

    // .banner-text__decr

    &__decr {
        font-weight: normal;
        font-size: 16px;
        line-height: 31px;
        letter-spacing: 0.342857px;
        color: #ffffff;
        margin-bottom: 50px;
        max-width: 487px;
    }
}
.btn {
}
