@import "about";
@import "banner-scroll";

.price-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    svg {
        margin: 30px 15px;
        flex-grow: 1;
        width: 100%;
        transform: rotate(90deg);
        @include from(lg) {
            transform: rotate(0deg);
            flex-grow: auto;
            width: auto;
            position: relative;
            top: 11px;
            margin: 0px 15px;
        }
    }
}
.price-block {
    border: 1.5px solid #125472;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    @include from(lg) {
        width: 386px;
    }

    // .price-block__top

    &__top {
        background: #edeff1;
        font-weight: bold;
        font-size: 16px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.342857px;
        color: #353c44;
        padding: 29px 15px 23px 15px;
    }

    // .price-block__bottom

    &__bottom {
        background: #ffffff;
        border-top: 1.5px solid #125472;
        font-family: $title-font;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.557143px;
        text-transform: uppercase;
        color: #125472;
        text-align: center;
        padding: 29px 15px;
    }
}

.container-img__item{

    @include from(md){
        height: 559px;
    }
    img{

        @include from(md){
            height: 100%;
        }
    }
}
