.ban-top {
    margin: 0 auto;
    position: relative;
    height: 765px;
    display: flex;
    flex-direction: column;
    &--min {
        height: 564px;
        @include from(md) {
            height: 644px;
        }
    }
    // .ban-top__mask

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // .ban-top__img

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    // .ban-top__text

    &__text {
        padding: 150px 15px 0;
        text-align: center;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        @include from(lg) {
            padding: 232px 0 15px;
        }
    }

    // .ban-top__title

    &__title {
        font-size: 35px;
        line-height: 50px;
        letter-spacing: 1px;
        font-family: $title-font;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 990px;
        margin: 0 auto 10px;
        @include from(lg) {
            font-size: 75px;
            line-height: 84px;
            letter-spacing: 3px;
            margin: 0 auto 15px;
        }
        span {
            font-family: $title-font;
            font-weight: 700;
            font-size: 35px;
            line-height: 1;
            letter-spacing: 0;
            text-transform: uppercase;
            color: #26abe2;
            margin-left: -0.4pc;
            vertical-align: 5px;
            @include from(lg) {
                font-size: 90px;
                line-height: 84px;
                vertical-align: 2px;
                margin-left: -1pc;
            }
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.385714px;
        color: #ffffff;
    }

    // .ban-top__descr

    &__descr {
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.385714px;
        color: #ffffff;
        max-width: 768px;
        margin: 0 auto;
    }
}
.scroll-test {
    position: relative;
    margin: 0 auto;
    margin-top: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.385714px;
    color: #ffffff;
    margin-bottom: 12px;
}
.scroll-down {
    position: relative;
    width: 2px;
    margin: 0 auto;
    height: 45px;
    border-left: 2px solid #c4c4c4;
    @include from(md){
        height: 78px;
    }
    &::before {
        animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
        position: absolute;
        top: 0;
        left: -2px;
        margin-left: 0;
        width: 2px;
        height: 45px;
        background: #fff;
        content: "";
        @include from(md){
    
            height: 78px;
        }
    }
}

@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
