.time {
    max-width: 643px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1130px) {
        height: auto !important;
        max-width: 100%;
    }
}

.tile-line {
    width: 815px;
    position: relative;
    @media (max-width: 1130px) {
        width: 100%;
    }
    .tile-line__img-wrap {
      
        @media (max-width: 1130px) {
            position: relative;
        }
        &:before {
            position: absolute;
            left: 0;
            content: "";
            right: 0;
            bottom: 0;
            top: 0;
            width: 699px;
            height: 815px;
            background: rgba(53, 60, 68, 0.45);
            clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
            z-index: 2;
            @media (max-width: 1130px) {
                clip-path: none;
                height: 400px;
                width: 100%;
            }
            @include to(md) {
                height: 300px;
            }
        }
    }
    .tile-line__img {
        position: relative;
        left: -144px;
        @media (max-width: 1130px) {
            left: 0;
            display: flex;
            flex-direction: column;
        }
        img {
            height: 815px;
            width: 699px;
            object-fit: cover;
            clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
            display: block;
            @media (max-width: 1130px) {
                height: 400px;
                width: 100%;
                clip-path: none;
                margin-bottom: 40px;
                position: relative;
            }
            @include to(md) {
                height: 300px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                @media (max-width: 1130px) {
                    height: 400px;
                    width: 100%;
                    clip-path: none;
                    @include to(md) {
                        height: 300px;
                    }
                }
            }
        }
    }
    .tile-line__img:nth-child(2) {
        position: absolute;
        top: 50%;
        left: auto;
        right: 50px;
        @media (max-width: 1130px) {
            position: static;
        }
        .tile-line__text {
            left: calc(100% - 110px);
            @media (max-width: 1130px) {
                left: 0;
                position: static;
            }
        }
    }
    .tile-line__text {
        position: absolute;
        top: 50%;
        right: calc(100% - 110px);
        transform: translateY(-50%);
        width: 20vw;
        @media (max-width: 1130px) {
            position: static;
            width: 100%;
            transform: none;
            margin-bottom: 20px;
            padding: 0 15px;
            order: -1;
        }
        h3 {
            font-weight: bold;
            font-size: 45px;
            font-family: $title-font;
            line-height: 33px;
            letter-spacing: 0.964286px;
            text-transform: uppercase;
            color: #353c44;
            margin-bottom: 10px;
            @include to(md) {
                font-size: 40px;
                line-height: 33px;
                letter-spacing: 0.857143px;
            }
        }
        h4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.385714px;
            text-transform: uppercase;
            color: #353c44;
            margin-bottom: 13px;

            @include to(md) {
                font-size: 16px;
                line-height: 21px;
                letter-spacing: 0.342857px;
            }
        }
        q {
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 31px;
            letter-spacing: 0.385714px;
            color: #353c44;
            display: block;
            margin-bottom: 46px;
            @include to(md) {
                font-size: 16px;
                line-height: 31px;
                margin-bottom: 25px;
                letter-spacing: 0.342857px;
            }
        }
        p {
            font-size: 18px;
            line-height: 31px;
            letter-spacing: 0.385714px;
            color: #353c44;
            margin-bottom: 30px;
            @include to(md) {
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0.342857px;
            }
        }
    }
}
