.target {
    max-width: 1860px;
    padding: 0 15px;
    margin: 0 auto;
    // .target__row

    &__row {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        @include from(sm) {
            grid-row-gap: 30px;
            grid-column-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        }
        @include from(xxxl) {
            grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        }
    }

    &--box {
        .target__row {
            display: grid;
            grid-row-gap: 15px;
            grid-column-gap: 15px;
            @include from(sm) {
                grid-row-gap: 30px;
                grid-column-gap: 50px;
                grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            }
            @include from(xxxl) {
                grid-template-columns: repeat(auto-fit, minmax(422px, 1fr));
            }
        }
        .target-card__logo {
            width: 99.19px;
            height: 43.85px;
            margin: 0 auto 60px;
        }
        .target-card__title {
            font-weight: bold;
            font-size: 32px;
            max-width: 100%;
            line-height: 32px;
            letter-spacing: 0.685714px;
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 60px;
        }
    }
}
.target-card {
    text-align: center;
    padding: 25px 15px;
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: $trans;
    position: relative;
    z-index: 1;
    &:hover {
        text-decoration: none;
        transition-duration: $trans;
        @include from(md) {
            transform: scale(0.95);
        }
    }
    &__mask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .target-card__logo

    &__logo {
        width: 73.57px;
        height: 32.51px;
        margin: 0 auto 25px;
        img {
            display: block;
        }
    }

    // .target-card__title

    &__title {
        max-width: 272px;
        margin: 0 auto;
        font-family: $title-font;
        font-weight: bold;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.535714px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
    }

    // .target-card__decr

    &__decr {
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 1.40625px;
        text-transform: uppercase;
        color: #ffffff;
        margin: auto auto 0 auto;
        padding-bottom: 8px;
        transition: $trans;
        width: fit-content;
        border-bottom: 1.5px solid #ffffff;
    }
}
