.tariff {
}
.tariff-container {
    padding: 0 15px;
    max-width: 1410px;
    margin: 0 auto;
}
.tariff-card {
    // .tariff-card__title

    &__title {
        font-family: $title-font;
        font-style: normal;
        font-weight: bold;

        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #353c44;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        @include from(lg) {
            font-size: 40px;
            line-height: 59px;
            margin-bottom: 35px;
        }
    }

    // .tariff-card__bottom

    &__bottom {
        display: flex;
    }

    // .tariff-card__circle

    &__circle {
        font-family: $title-font;
        font-weight: bold;
        font-size: 25px;
        width: 63px;
        height: 62px;
        border-radius: 50%;
        flex-shrink: 0;
        line-height: 43px;
        letter-spacing: 0.621429px;
        color: #125472;
        background: #edeff1;
        border: 1px solid #125472;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-right: 15px;
        @include from(md) {
            width: 83px;
            height: 82px;
            font-size: 29px;
            margin-right: 30px;
        }
    }

    // .tariff-card__text

    &__text {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    // .tariff-card__sybtitle

    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 31px;
        letter-spacing: 0.385714px;
        color: #353c44;
        margin-bottom: 5px;
    }

    // .tariff-card__decr

    &__decr {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.342857px;
        color: #353c44;
        margin-bottom: 15px;
        max-width: 160px;
        min-height: 50px;
        @include from(lg) {
            margin-bottom: 35px;
        }
    }

    // .tariff-card__cost

    &__cost {
        font-family: $title-font;
        font-weight: bold;
        font-size: 30px;
        line-height: 31px;
        letter-spacing: 1px;
        color: #125472;
        margin-top: auto;

        @include from(lg) {
            font-size: 45px;
            line-height: 31px;
            letter-spacing: 1.5px;
            white-space: pre;
        }
    }
}
