<section class="ban-top {{#unlesspage 'index'}}ban-top--min{{/unlesspage}}">
    <div class="ban-top__mask js__overlay" style="
        background-color:{{ban-top-color}};
        opacity:{{ban-top-opacity}};"></div>
    <img class="ban-top__img wow fadeIn" data-wow-delay="100ms" src="static/images/content/{{ban-top-img}}.jpg"
        alt="{{ban-top-title}}">
    <div class="ban-top__text">
        <div class="ban-top__title wow fadeInDown" data-wow-delay="200ms">
            {{ban-top-title}}
            {{#ifpage 'index'}}
            Unsere Mission <span>:</span> <br>Ihr Potenzial entfesseln
            {{/ifpage}}
        </div>
        {{#ifpage 'power'}}
            <div class="ban-top__subtitle wow fadeInDown" data-wow-delay="300ms">
                Ohne die Verwendung von anabolen, gesundheitsschädlichen Substanzen.
            </div>
        {{/ifpage}}

        {{#ifpage 'index'}}
        <div class="ban-top__descr wow fadeInDown" data-wow-delay="300ms">
            {{ban-top-decr}}
        </div>
        {{/ifpage}}

    </div>

        {{#ifpage 'index'}}
    <div class="scroll-test">
        scroll
    </div>
        <div class="scroll-down"></div>
            {{/ifpage}}
</section>