<section>
    <div class="form-container pt-150-100 pb-195-80">
        <div class="form-icon mb-30 text-center">
            <img src="static/images/general/mail.svg" alt="">
        </div>
        <div class="title-3 text-center"> Ein Kontaktformular für Sie</div>
        <div class="form-text mb-45 text-center">
            <p><b>Dein Personal Trainer Berlin</b> | Straße + Nummer 10691 Berlin</p>
            <p><a href="tel:+49 000  000  00 ">+49 000 000 00 </a> | <a href="mailto:fitness@email.de"> <b>fitness@email.de</b></a></p>
        </div>
        <form class="form-block">
            <div class="form-block__input">
                <input type="text" placeholder="Vorname" name="vorname">
            </div>
            <div class="form-block__input">
                <input type="text" placeholder="Nachname" name="nachname">
            </div>
            <div class="form-block__input">
                <input type="email" placeholder="E-mail adresse" name="email">
            </div>
            <div class="form-block__input">
                <input type="tel" placeholder="Telefonnummer" name="telefonnummer">
            </div>
            <div class="form-block__textarea">
                <textarea placeholder="Ihre Nachricht" name="nachricht"></textarea>
            </div>
            <div class="form-block__bottom">
                <label class="form-block__checkbox">
                    <input type="checkbox"  name="checkbox">
                    Lorem ipsum please read this and approve this checkbox, there can be multiple lines.
                </label>
                <button class="form-block__btn" type="submit">SENDEN</button>
            </div>
        </form>
    </div>
</section>