.footer {
  background: url("../images/general/footer-bg.png"),
    linear-gradient(180deg, #353c44 0%, rgba(101, 111, 121, 0.0001) 83.94%) no-repeat center;
  background-size: cover;
  padding-top: 60px;
  @include from(md) {
    padding-top: 129px;
  }
  // .footer__container

  &__container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
  }

  // .footer__top

  &__top {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    flex-direction: column;
    @include from(lg) {
      padding-bottom: 30px;
      margin-bottom: 55px;
      flex-direction: row;
    }
  }

  // .footer__left

  &__left {
    display: flex;
    flex-direction: column;
    @include from(md) {
      flex-direction: row;
    }
  }

  // .footer__left-block

  &__left-block {
    margin-right: 81px;
    @include from(md) {
      margin-right: 106px;
    }
  }

  // .footer__logo

  &__logo {
    margin-bottom: 30px;
    width: 147px;
    display: block;
    @include from(md) {
      margin-bottom: 54px;
    }
  }

  // .footer__left-list

  &__left-list {
    list-style: none;
    margin-bottom: 30px;
  }

  // .footer__left-text

  &__left-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.342857px;
    color: #ffffff;
    display: block;
  }

  // .footer__left-links

  &__left-links {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    @include from(md) {
      margin-bottom: 0;
    }
  }

  // .footer__left-links-item

  &__left-links-item {
    margin-bottom: 9px;
  }

  // .footer__left-links-item-link

  &__left-links-item-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.342857px;
    color: #ffffff;
    transition: $trans;

    &:hover {
      color: #00e2fa;
      text-decoration: none;
    }
  }

  // .footer__right

  &__right {
    display: flex;
    max-width: 585px;
    width: 100%;
    flex-direction: column;
    @include from(md) {
      flex-direction: row;
    }
  }

  // .footer__right-cont

  &__right-cont {
    width: 221px;
    margin-bottom: 30px;
    @include from(md) {
      margin-right: 26px;
      margin-bottom: 0;
    }

    &-item {
      margin-bottom: 10px;
      margin-right: 15px;

      &-link {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3px;
        color: #ffffff;
        transition: $trans;

        &:hover {
          color: #00e2fa;
          text-decoration: none;
        }

        i {
          margin-right: 30px;
        }
      }
    }
  }

  // .footer__right-text

  &__right-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #ffffff;
    width: 312px;

    p {
      margin-bottom: 25px;
    }
  }

  // .footer__center

  &__center {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    @include from(md) {
      padding-bottom: 56px;
    }
  }

  // .footer__center-title

  &__center-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.535714px;
    color: #ffffff;
    margin-bottom: 24px;
  }

  // .footer__center-list

  &__center-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  // .footer__center-list-item

  &__center-list-item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  // .footer__center-list-item-link

  &__center-list-item-link {
    color: #ffffff;
    font-size: 36px;
    transition: $trans;

    &:hover {
      color: #00e2fa;
      text-decoration: none;
    }
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;

    padding: 25px 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    @include from(lg) {
      flex-direction: row;
      align-items: center;
    }
  }

  // .footer__bottom-left

  &__bottom-left {
    .copyright {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.216px;
      color: #ffffff;
    }
  }

  // .footer__bottom-right

  &__bottom-right {
    margin-top: 15px;
    @include from(sm) {
      margin-left: auto;
    }
  }

  // .footer__bottom-list

  &__bottom-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
  }

  // .footer__bottom-list-item

  &__bottom-list-item {
    &:not(:last-child) {
      &:after {
        content: "|";
        margin: 0 15px;
      }
    }
  }

  // .footer__bottom-list-item-link

  &__bottom-list-item-link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.216px;
    color: #ffffff;
    transition: $trans;

    &:hover {
      color: #00e2fa;
      text-decoration: none;
    }
  }
}

.footer-tel {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  transition: $trans;

  &:hover {
    color: #00e2fa;
    text-decoration: none;
  }

  i {
    margin-right: 33px;
  }
}
