<div class="target target--box">
    <div class="target__row">
        {{#each target-card-box.card}}
        <a href="#" class="target-card  wow  fadeInDown" data-wow-delay="300ms">
            <div class="target-card__img">
                <div class="target-card__mask" style="background: {{bg}}"></div>
                <img src="static/images/content/box/{{img}}.jpg" alt="">
            </div>
            <div class="target-card__logo">
                <img src="static/images/general/logo.svg">
            </div>
            <div class="target-card__title">{{title}}</div>
            <div class="target-card__decr">mehr erfahren</div>
        </a>
        {{/each}}
    </div>
</div>