<div class="target">
    <div class="target__row">
        {{#each target-card.card}}
        <a href="#" class="target-card js__height wow  fadeInDown" data-wow-delay="300ms"
            style="background-color:{{background}};">
            <div class="target-card__logo">
                <img src="static/images/general/logo.svg">
            </div>
            <div class="target-card__title">{{title}}</div>
            <div class="target-card__decr">mehr erfahren</div>
        </a>
        {{/each}}
    </div>
</div>