<footer class="footer">
    <div class="footer__container">
        <div class="footer__top">
            <div class="footer__left">
                <div class="footer__left-block">
                    <a href="#" class="footer__logo">
                        <img src="static/images/general/logo.svg" alt="">
                    </a>
                    <div class="footer__left-list">
                        <span class="footer__left-text"> Straße + Nummer</span>
                        <span class="footer__left-text">10691 Berlin</span>
                        <span class="footer__left-text"> Deutschland</span>
                    </div>
                </div>
                <ul class="footer__left-links">
                    <li class="footer__left-links-item">
                        <a class="footer__left-links-item-link" href="#">Startseite</a>
                    </li>
                    <li class="footer__left-links-item">
                        <a class="footer__left-links-item-link" href="#">Über uns</a>
                    </li>
                    <li class="footer__left-links-item">
                        <a class="footer__left-links-item-link" href="#">Ziele & Trainingsarten</a>
                    </li>
                    <li class="footer__left-links-item">
                        <a class="footer__left-links-item-link" href="#">Unsere Preise</a>
                    </li>
                    <li class="footer__left-links-item">
                        <a class="footer__left-links-item-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </div>
            <div class="footer__right">
                <div class="footer__right-cont">
                    <div class="footer__right-cont-item">
                        <a class="footer__right-cont-item-link" href="tel:+49 000 000 00">
                            <i class="fas fa-phone-alt"></i>
                            +49 000 000 00</a>
                    </div>
                    <div class="footer__right-cont-item">
                        <a class="footer__right-cont-item-link" href="mailto:fitness@email.de">
                            <i class="fas fa-paper-plane"></i>
                            fitness@email.de</a>
                    </div>
                </div>
                <div class="footer__right-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. </p>
                </div>
            </div>
        </div>
        <div class="footer__center">
            <div class="footer__center-title">Follow us!</div>
            <ul class="footer__center-list">
                <li class="footer__center-list-item">
                    <a class="footer__center-list-item-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="footer__center-list-item">
                    <a class="footer__center-list-item-link" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="footer__center-list-item">
                    <a class="footer__center-list-item-link" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="footer__center-list-item">
                    <a class="footer__center-list-item-link" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-left">
                <div class="copyright">
                    Copyright <span id="year-js"></span>, Fitness Deutschland
                </div>
            </div>
            <div class="footer__bottom-right">
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-list-item">
                        <a class="footer__bottom-list-item-link" href="#"> AGB </a>
                    </li>
                    <li class="footer__bottom-list-item">
                        <a class="footer__bottom-list-item-link" href="#"> Impressum </a>
                    </li>
                    <li class="footer__bottom-list-item">
                        <a class="footer__bottom-list-item-link" href="#"> Datenschutz </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>