<div class="nav">
    <div class="nav__container">
        <div class="nav__row">
            <a class="nav__logo" href="index.html">
                <img src="static/images/general/logo.svg" alt="">
            </a>
            <div class="nav__panel">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a class="nav__list-item-link" href="">Über uns</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-item-link" href="">Ziele & Trainingsarten</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-item-link" href="">Unsere Preise</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__list-item-link" href="">Über uns</a>
                    </li>
                </ul>
                <a class="btn-contact" href="#">
                    <span>Kontakt aufnehmen</span>
                </a>
            </div>
            <button class="burger js__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</div>