<script src="{{root}}static/js/libs.min.js"></script>
<script src="static/js/TweenMax.min.js"></script>
<script src="{{root}}static/js/helps.js"></script>
<script src="{{root}}static/js/init-plugins.js"></script>
<script src="{{root}}static/js/main.js"></script>