h1 {
  font-size: 36px;
  @include from(md) {
    font-size: 72px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  @include from(md) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;
  @include from(lg) {
    font-size: 20px;
  }
}

b,
strong {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.title-1 {
  font-weight: bold;
  font-size: 45px;
  font-family: $title-font;
  line-height: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #353c44;
  margin-bottom: 35px;
  @include from(lg) {
    font-size: 65px;
    line-height: 96px;
    margin-bottom: 49px;
  }
}
.title-2 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #353c44;
  margin-bottom: 30px;
  @include from(lg) {
    margin-bottom: 49px;
  }
}
.title-3 {
  font-family: $title-font;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: 0.964286px;
  text-transform: uppercase;
  color: #353c44;
  margin-bottom: 30px;
  @include from(lg) {
    margin-bottom: 42px;
    font-size: 45px;
    line-height: 67px;
  }
}
.decr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.342857px;
  color: $gray;
  line-height: 30px;
  margin-bottom: 15px;
  p {
    margin-bottom: 16px;
    @include from(lg) {
      margin-bottom: 35px;
    }
  }
  b,
  strong {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 0.342857px;
    color: #125472;
  }
  img {
    vertical-align: sub;
    margin-left: 5px;
  }
}

.container-img {
  width: 100%;
  padding: 0 15px;
  max-width: 1920px;
  margin: 0 auto;
  @include from(lg) {
    padding: 0 95px;
  }
}
.about-img {
  position: relative;
  &::before {
    content: "";
    background: rgba(33, 82, 130, 0.48);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  img {
    display: block;
    width: 100%;
    max-height: 465px;
    filter: contrast(1.2) brightness(110%);
  }
}

.icon-arrow {
  width: 48px;
  height: 12px;
  stroke: red;
  fill: transparent;
}
