.mb-114-60 {
    margin-bottom: 60px !important;
    @include from(md) {
        margin-bottom: 114px !important;
    }
}
.mb-135-80 {
    margin-bottom: 80px !important;
    @include from(md) {
        margin-bottom: 135px !important;
    }
}
.mb-175-80 {
    margin-bottom: 80px !important;
    @include from(md) {
        margin-bottom: 175px !important;
    }
}
.mb-185-80 {
    margin-bottom: 80px !important;
    @include from(md) {
        margin-bottom: 185px !important;
    }
}
.mb-96-50 {
    margin-bottom: 50px !important;
    @include from(md) {
        margin-bottom: 96px !important;
    }
}

.mb-30 {
    margin-bottom: 30px !important;
}
.mb-45 {
    margin-bottom: 45px !important;
}
.mb-110-60 {
    margin-bottom: 60px !important;
    @include from(md) {
        margin-bottom: 110px !important;
    }
}
.mb-118-80 {
    margin-bottom: 80px !important;
    @include from(md) {
        margin-bottom: 118px !important;
    }
}
.mb-145-60 {
    margin-bottom: 60px !important;
    @include from(md) {
        margin-bottom: 145px !important;
    }
}
.pt-150-100 {
    padding-top: 100px !important;
    @include from(md) {
        padding-top: 150px !important;
    }
}
.pb-195-80 {
    padding-bottom: 80px !important;
    @include from(md) {
        padding-bottom: 195px !important;
    }
}
.pt-120-80 {
    padding-top: 80px !important;
    @include from(md) {
        padding-top: 120px !important;
    }
}
.pb-180-80 {
    padding-bottom: 80px !important;
    @include from(md) {
        padding-bottom: 180px !important;
    }
}


.pt-112-60 {
    padding-top: 60px !important;
    @include from(md) {
        padding-top: 112px !important;
    }
}
.pb-134-60 {
    padding-bottom: 60px !important;
    @include from(md) {
        padding-bottom: 134px !important;
    }
}
