.form-field {
  margin-bottom: 20px;
  position: relative;

  &:before {
    content: attr(data-error);
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 12px;
    line-height: 16px;
    color: #DE3618;
    @include mfr;
    opacity: 0;
    visibility: hidden;
    @include anim;
  }

  &.error {
    .form-control {
      border: 1px solid #FF353E;
      box-shadow: inset 0px 0px 0px 200px rgba(255, 238, 238, 1);
    }

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &.pass {
    .form-control {
      border: 1px solid #4BC0C5;
      box-shadow: inset 0px 0px 0px 200px rgba(230, 245, 243, 1);
    }
  }
}
