// Colors
$accent: #ffa800;
$accent-100: #e69700;
$blue: #0465ea;
$blue-100: #f9fafc;
$blue-200: #f0f6ff;
$black: #353c44;
$gray: #353c44;
$gray-100: #edeff1;

$urlGeneral: "../images/general";

// font
$default-font: "Rubik", sans-serif;
$base-font-size: 16px;
$title-font: "Oswald", sans-serif;

// transition
$trans: 0.3s ease-in-out;

$z-index: (
  modal: 200,
  navigation: 100,
  footer: 90,
  triangle: 60,
  navigation-rainbow: 50,
  share-type: 41,
  share: 40,
  slider: 4,
);
@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
/*.navigation {
  @include z-index(navigation);
}*/
