<ul class="tabs-nav">
    <li class="tabs-nav__item tabs-nav__item--active" data-tab-name="tab-1">Таб 1</li>
    <li class="tabs-nav__item" data-tab-name="tab-2">Таб 2</li>
</ul>
<div class="tabs-content">
    <div class="tabs-content__item tab-1 tabs-content__item--active">
        <p>1</p>
    </div>
    <div class="tabs-content__item tab-2">
        <p>2</p>
    </div>
</div>