.pagination {
  display: inline-flex;
  align-items: center;
  &-wrap{
    text-align: center;
    margin-top: 25px;
    padding-bottom: 48px
  }
  &__item {
    display: inline-block;
    margin-right: 10px;

    &-link{
      color: #707E98;
      font-size: 16px;
      &.active{
        color: red;
        position: relative;
        &:before{
          content: '';
          width: 4px;
          border-radius: 50%;
          height: 4px;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background: red;
          display: inline-block;
          position: absolute;
        }
      }
    }
    &-prev{
      margin-right: 30px;
    }
    &-next{
      margin-left: 20px;
    }
  }
}


// Arrow code starts here

a[class*="arrow"],
button[class*="arrow"],{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #545E70;
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 1px;
  position: relative;
  &:hover:before{
    opacity: 1;
  }

  &:before {
    content: '';
    transition: all $trans;
    opacity: 0;
    position: absolute;
    left: 2px;
    right: -18px;
    top: -17px;
    display: inline-block;
    width: 32px;
    transform: translate(-11px, 4px);
    height: 32px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 50%;
  }

  &[class*="-up"] {
    transform: rotate(-45deg);
  }

  &[class*="-right"] {
    transform: rotate(45deg);
  }

  &[class*="-down"] {
    transform: rotate(135deg);
  }

  &[class*="-left"] {
    transform: rotate(225deg);

  }

  &[class*="-heavy"] {
    border-width: 2px;
  }

  &[class*="-sm"] {
    width: 10px;
    height: 10px;
  }
}