//.btn-contact {
//    font-family: $title-font;
//    font-weight: bold;
//    font-size: 22px;
//    display: inline-flex;
//    align-items: center;
//    text-align: center;
//    letter-spacing: 0.471429px;
//    text-transform: uppercase;
//    color: #ffffff;
//    background-image: linear-gradient(270deg, #00e2fa 0%, #52a0fd 100%);
//    box-shadow: 0px 25px 25px -14px rgba(0, 180, 255, 0.860195);
//    border-radius: 9px;
//    height: 56px;
//    padding: 0 15px;
//
//    background-size:100%;
//    background-position: 0 0;
//    transition: .01 ease-in-out;
//    &:hover {
//         transition: .01 ease-in-out;
//        text-decoration: none;
//        background-position: 300%;
//        background-size:200%;
//        color: #ffffff;
//    }
//    @include from(lg) {
//        padding: 0 60px;
//    }
//}

.btn-contact:hover::after {
  opacity: .9;
}
.btn-contact {
    position: relative;
    font-weight: 900;
    color: #fff;
    font-size: 24px;
    border-radius: 9px;
    text-transform: uppercase;
  padding: 0 15px;
  @include from(lg) {
    padding: 0 60px;
  }
  &:hover{
    text-decoration: none;
  }
}

.btn-contact::after,.btn-contact::before {
    content: "";
    background: linear-gradient(270deg,#00e2fa,#52a0fd,#338aff, #03327f);
    background-size: 600%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 9px;
    display: block;
    overflow: hidden;
    left: 0;
    animation: btn 16s infinite linear
}

.btn-contact::before {
    z-index: 2
}

.btn-contact::after {
    top: 5px;
    opacity: .5;
    filter: blur(10px);
    transition: opacity .8s ease 0s
}

.btn-contact span {
  height: 60px;
  position: relative;
  letter-spacing: 0.471429px;
  z-index: 3;
  min-height: 28px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-family: $title-font;
  font-weight: bold;
  font-size: 22px;
}



@-webkit-keyframes btn {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes btn {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.btn {
    font-weight: bold;
    font-size: 22px;
    font-family: $title-font;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    color: #125472;
    background: #ffffff;
    display: inline-flex;
    height: 59px;
    padding: 0 15px;
    border: 1.5px solid #125472;
    border-radius: 6px;
    transition: $trans;
    &:hover {
        text-decoration: none;
        background: linear-gradient(270deg, #52a0fd 0%, #00e2fa 100%);

        color: #ffffff;
    }
    @include from(lg) {
        padding: 0 60px;
    }
}
.back__link{
  a{
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.342857px;
      color: #353C44;
      transition: $trans;
      &:hover{
          text-decoration: none;
          color: #00e2fa;
          svg{
              transform: scale(1.1);
          }
          circle{
              stroke: #00e2fa;
          }
          path{
              fill: #00e2fa;

          }
      }
  }
    svg{
        margin-right: 18px;
        transition: $trans;
        circle{
            transition: $trans;
        }
        path{
            transition: $trans;
        }
    }
}

.ml-195-30{
    margin-left: 30px;
    @include from(md){
        margin-left: 195px;
    }
}
