$header-color: #181b1e;

.header {
    background-color: $header-color;
    position: fixed;
    top: 0em;
    width: 100%;
    z-index: 9;
    transition: all 0.2s linear;
    &.active {
        background-color: $header-color;
        transform: none;
    }
    @include from(lg) {
        background: transparent;
        width: 100%;
        left: 0;
        top: 0;
        transition: all 0.4s ease;
    }
    &.up {
        @include from(md) {
            transform: translate3d(0, -100%, 0);
        }
    }
    &.bg {
        background-color: $header-color;
    }

    &.active {
        .nav__panel {
            pointer-events: auto;
            visibility: visible;
            animation-name: fadeList;
            animation-timing-function: ease-in-out;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
        }
        .nav__list-item {
            opacity: 1;
        }
        .btn-contact {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.nav {
    // .nav__container

    &__container {
        max-width: 1596px;
        width: 100%;
        margin: 0 auto;
        padding: 22px 15px;
    }

    // .nav__row

    &__row {
        display: flex;
        align-self: center;
        @include from(lg) {
            align-items: center;
        }
    }

    // .nav__logo

    &__logo {
        width: 108px;
        flex-shrink: 0;
        z-index: 9;
        @include from(lg) {
            width: 194px;
        }
    }

    // .nav__panel

    &__panel {
        background: $header-color;
        top: 0;
        left: 0;
        transition: $trans;
        padding: 120px 15px 100px 15px;
        width: 100%;
        position: fixed;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        pointer-events: none;
        animation-name: fadeOutList;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        @include from(lg) {
            padding: 0;
            opacity: 1;
            visibility: visible;
            position: static;
            background: transparent;
            width: auto;
            height: auto;
            flex-direction: row;
            pointer-events: auto;
            animation-name: none;
            margin-left: auto;
            align-items: center;
        }
    }

    // .nav__list

    &__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        @include from(lg) {
            display: flex;
            margin-right: 70px;
        }
    }

    // .nav__list-item

    &__list-item {

        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.6s;
        &:not(:last-child){
            @include to(md) {
                margin-bottom: 70px;
            }
        }

        @include from(lg) {
            opacity: 1;
            margin-bottom: 0;
        }
        &:not(:last-child) {
            @include from(lg) {
                margin-right: 40px;
            }
        }
        &-link {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.471429px;
            color: #ffffff;
            display: inline-flex;
            padding-bottom: 5px;
            position: relative;
            text-decoration: none;
            &::before {
                content: "";
                position: absolute;
                height: 3px;
                width: 100%;
                border-radius: 5px;
                transform: scaleX(0);
                visibility: hidden;
                opacity: 0;
                background-color: #ffffff;
                top: calc(100% + 5px);
                left: 0;
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                text-decoration: none;
                color: #ffffff;
                &:before {
                    transform: scaleX(1);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .btn-contact {
        opacity: 0;
        margin-top: auto;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;
        flex-shrink: 0;
        transform: translateY(20px);
        @include from(lg) {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.burger {
    position: relative;
    width: 34px;
    height: 28px;
    padding: 0;
    border: none;
    align-self: center;
    margin-right: 10px;
    background: transparent;
    margin-left: auto;
    @include from(lg) {
        display: none;
    }
    &.active {
        span:nth-child(1) {
            transform: translate(-10px, 10px) rotate(45deg);
        }
        span:nth-child(2) {
            width: 0;
        }
        span:nth-child(3) {
            transform: translate(0, -13px) rotate(-45deg);
        }
    }
    span {
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        transition: $trans;
        border-radius: 25px;
        background: #ffffff;
        &:nth-child(1) {
            top: 0;
            left: 10px;
            right: 10px;
        }
        &:nth-child(2) {
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            left: 0px;
            bottom: 0;
        }
    }
}

@keyframes fadeList {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutList {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
