<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">главная</a></li>
    {{#ifpage 'analysis-page'}}
        <li class="breadcrumb-item"><a href="#">анализы</a></li>
    {{/ifpage}}

    {{#ifpage 'attendance-page'}}
        <li class="breadcrumb-item"><a href="#">услуги</a></li>
    {{/ifpage}}
    {{#ifpage 'doc-characteristic'}}
        <li class="breadcrumb-item"><a href="#">врачи</a></li>
        <li class="breadcrumb-item"><a href="#">гинеколог</a></li>
    {{/ifpage}}
    {{#ifpage 'special-page'}}
        <li class="breadcrumb-item"><a href="#">акции, спец. предложения</a></li>
    {{/ifpage}}

    <li class="breadcrumb-item"><span>{{title}}</span></li>
</ol>