<div class="pagination-wrap">
    <ul class="pagination">
        <li class="pagination__item">
            <span class="pagination__item-link active" href="#">
                1
            </span>
        </li>
        <li class="pagination__item">
         <a href="#" class="pagination__item-link">
           2
        </a>
        </li>
        <li class="pagination__item">
            <a  class="pagination__item-link" href="#">
                3
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#">
                ...
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#">
                94
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#">
                95
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__item-link" href="#">
                96
            </a>
        </li>
        <li class="pagination__item-next">
            <a href="#" class="pagination__link arrow-cast-right"></a>
        </li>
    </ul>
</div>

