<form class="js_validate" action="#" name="#" role="form">
    <div class="row">
        <div class="col-xs-6 contact__item">
            <div class="form-field input-field" data-error="Обязательное поле">
                <label class="label-f">*Name</label>
                <input class="validate form-control" name="subscribe" type="text" required="">
            </div>
            <div class="form-field input-field" data-error="Обязательное поле">
                <label class="label-f">Email</label>
                <input class="validate form-control" name="subscribe" type="email" required="" data-validate="email">
            </div>
            <div class="form-field input-field" data-error="Обязательное поле">
                <label class="label-f">*Subject</label>
                <select class="sort-select">
                    <option value="1">Please choose your subject</option>
                    <option value="2">Please choose your subject</option>
                    <option value="3">Please choose your subject</option>
                </select>
            </div>
        </div>
        <div class="col-xs-6 contact__item">
            <div class="form-field input-field">
                <label class="label-f">*Name</label>
                <textarea class="form-control" placeholder="Your message"></textarea>
            </div>
            <button class="button-reset main-btn" type="submit">Submit</button>
        </div>
    </div>
</form>
